@page
@model ProjectASParagus.Pages.Customer.About.IndexModel

<h1>About Us</h1>
<p>Welcome to ASParagus, where we are passionate about asparagus!</p>
<p>Our mission is to create forgettable and/or regrettable dining experiences for our customers.</p>
