@page
@model ProjectASParagus.Pages.Customer.Contact.IndexModel
@{
}
<h1>About ASParagus Restaurant</h1>
<p>Find your favorite ASParagus based meal and book a table now</p>
<a href="/Customer/Menu">View Menu</a>
<a href="/Customer/Booking">Book a table</a>
<a href="/Customer/Account">Account</a>
<a href="/Customer/About">About us</a>
<a href="/Customer/Contact">Contact us!</a>

