@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4" id="WelcomeText">Welcome</h1>
</div>
<div id="LoginDiv">
    <div class="text-center">
        <input type="text" id="userName" placeholder="Username" style="width: 25vw; margin: 5px"/>
        <input type="password" id="userPass" placeholder="Password" style="width: 25vw; margin: 5px"/>
    </div>
    <div class="text-center" style="margin: 10px">
    <button id="loginButton" class="btn btn-primary" style="width: 50vw">Login</button>
    <p id="StatusMessage"></p>
    </div>
</div>
<div class="text-center" id="BookingDiv" style="visibility: hidden">
    <h1>Booking</h1>
    <input type="date" id="dateInput"/>
    <input type="time" id="timeInput"/>
    <div class="DivBorder">
        <div class="text-center">
            <h2 id="SelectedMonth">Available</h2>
        </div>
        <div class="DatePickerGrid" id="BookingButtonDiv">
        </div>
        <div class="text-center">
            <h2 id="SelectedDay">Available</h2>
            <div class="TimePickerGrid" id="TimeBookingButtonDiv">
            </div>
        </div>

    </div>
</div>

<form id="searchBookingForm" method="post">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-8">
                <div class="text-center bookingDiv">
                    <h1>Manage Bookings</h1>
                    <div class="DivBorder row">
                        <div class="col m-2">
                            <div class="form-group">
                                <input type="number" placeholder="Booking ID" class="form-control" id="bookingid" name="bookingId">
                            </div>
                        </div>
                        <div class="col m-2">
                            <div class="form-group">
                                <input type="number" placeholder="User ID" class="form-control" id="userid" name="userBookingId">
                            </div>
                        </div>
                        <div class="col m-2">
                            <div class="form-group">
                                <input type="date" id="dateInputBooking" class="form-control" name="bookingDate">
                            </div>
                        </div>
                        <div class="col m-2">
                            <button id="searchBtn" type="submit" class="btn btn-primary btn-block">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="text-center" id="UserDiv" style="visibility: hidden">
    <h1>User</h1>
    <div class="DivBorder" id="UserListDiv">
    </div>
    <div class="DivBorder" id="CreateUserDiv">
    </div>
    <div class="DivBorder" id="EditUserDiv">
    </div>
</div>

<script src="~/js/Index.js"/>
